.contenedor-tabla {
  overflow-x: auto;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  background: #1976d2;
  color: white;
  padding: 12px;
}

th:first-child {
  border-radius: 10px 0 0 0;
}
th:last-child {
  border-radius: 0 10px 0 0;
}

td {
  padding: 10px;
  background: #dddddd13;
  text-align: start;
  color: white;
  font-weight: normal;
  font-size: 15px;
}

tr:hover {
  background: #fcfcfc45;
}

progress {
  width: 120px;
  height: 18px;
}

span {
  margin-left: 8px;
  font-weight: bold;
}

/* badge de estado */
.disponible {
  background: rgb(4, 137, 4);
  font-size: 14px;
  border-radius: 50px;
  color: white;
  text-align: center;
}

.agotado {
  background: rgb(202, 0, 0);
  font-size: 14px;
  border-radius: 50px;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  table {
    font-size: 13px;
  }

  th,
  td {
    padding: 6px;
  }

  progress {
    width: 80px;
  }
}
